<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BI_coursework.Properties.Settings.Data_set_1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\External Files\Data set 1.accdb&quot;;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="BI_coursework.Properties.Settings.DestinationDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\DestinationDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />

    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>